/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;;

}
/* common style or utilities */
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;

    border-radius: 5px;
    position: absolute;
    left: 285px;
    top:130px;
    padding: 30px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 25px;
    margin-top: 33px;
}

/* top players style */
.top-player {
    margin-top: 30px;
}
.section-title {
    color: #562EFF;
    font-size: 24px;
    line-height: 36px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px;
}
    
.player {
    display: flex;   
}
.players img {
    height: 56px;
    width: 56x;
    display: flex;  
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* end top players part */
/* start top blogs part */
.blogs {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-row-gap:  26px;
}
.blog {
    display: flex;
}

.thumlail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
   
}
.blog-name {
    font-size: 20px;
    color: #000000;
}
.aurthor{
    font-size: 16px;
    color: #562EFF;
    margin-top: -14px;
}
.by-color{
    color: #9F9F9F;
}
/* end top blogs part */